@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<!--------start Header code------>
<body onload="moveslider()">
<div class="container-fluid">
<!-----------code for menu------------> 
<!-----code for slider start ----->
    <div style="height:400px">
<img id="imgslider"  height="400px" width="100%"/>
</div>
<!-----code for slider end ----->
<div class="row" style="background:linear-gradient(#a1a1aa,white,white,white);">
    <h1 style="text-align:center;font-size:60px;font-family:algerian;color:#2e3f61">Online Hotal Booking-More Then a Stay</h1><br>
<p style="text-align:center;font-size:20px;color:#a1a1a1"><b>Hidden gem for breakfast and lunch in Helsinki City centre.
Excellent food, lunch 14.90 Eur/person, abundant salad buffet, 2 choices for a main dish. Tested chicken today, which was excellent. Great chef and excellent price and quality ratio. Cosy restaurant facilities.
    Hidden gem for breakfast and lunch in Helsinki City centre.
Excellent food, lunch 14.90 Eur/person, abundant salad buffet, 2 choices for a main dish. Tested chicken today, which was excellent. Great chef and excellent price and quality ratio. Cosy restaurant facilities."
    Hidden gem for breakfast and lunch in Helsinki City centre.
Excellent food, lunch 14.90 Eur/person, abundant salad buffet, 2 choices for a main dish. Tested chicken today, which was excellent. Great chef and excellent price and quality ratio. Cosy restaurant facilities."
                                                          </b></p><br><br><br><br>
</div>
<div class="row">
    <div class="col-sm-12" style="height:450px;background-image:url('../Content/img/10.jpg');background-size:cover;">
       <center> <span style="font-size:40px;color:navajowhite;text-shadow:3px 3px 3px white;font-weight:bolder" class="logo">THAT IS A MOST ATTRACTIVE PLACE ON THE HOLE WORDS <br /></span> 
           <b style="font-size:40px;color:white;text-shadow:3px 3px 3px red;font-weight:bold;padding-top:16%" >IF YOU WANT TO VISIT THIS LOCATION</b> <br /><input type="submit" class="btn btn-success" value="VISIT_THIS_LOCATION" name="btn" style="height:50px;width:20%;"/></center>
    </div>
</div> <br />
<div class="row"style="background:#204e6a">
<div class="col-sm-6" style="background:#204e6a;height:550px;"><h1 style="font-size:60px;font-family:algerian;margin-top:40px;margin-left:50px;color:white">Deluxe Room</h1><h3 style="font-size:35px;color:white;margin-left:50px;"><span style="font-size:25px;color:#a1a1a1;font-family:algerian">from</span>10000<span style="font-size:25px;color:#a1a1a1;font-family:algerian">/Night</span></h3>
<br>
<table class="table table-responsive" style="font-size:20px;color:white;font-weight:bold;font-family:algerian">
<tr>
<td>
Bed:
</td>
<td>
Double bed
</td>
</tr>
<tr>
<td>
Capacity:
</td>
<td>
2 adults
</td>
</tr>
<tr>
<td>
Room size:
</td>
<td>
55m²
</td>
</tr>
<tr>
<td>
View:
</td>
<td>
Sea view

</td>
</tr>
<tr>
<td>
Facilities:
</td>
<td>
Iron, TV, Hair dryer
</td>
</tr>
</table>
<form action="mgmtp.html" method="post">
<input type="submit" class="btn" value="BOOK NOW" style="color:#a1a1a1;height:50px;width:140px;margin-left:2%;font-weight:bold;"/>
</form>
</div>
<div class="col-sm-6" style="height:550px;"><img src="~/Content/img/room.jpg" style="height:550px;width:100%;"/></div>
</div><br><br> 
<div class="row">
<div class="col-sm-4"style="height:300px;text-align:center"><img src="~/Content/img/roomm.jpg" style="height:100px;width:100px;align:center"/><h3 style="font-size:30px;color:#204e6a;font-family:algerian">Beautiful Rooms</h3><p style="font-size:20px;color:#a1a1a1;font-family:algerian">In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat</p>
</div>
<div class="col-sm-4"style="height:300px;text-align:center"><img src="~/Content/img/room.jpg" style="height:100px;width:100px;align:center"/><h3 style="font-size:30px;color:#204e6a;font-family:algerian">Swimming Pool</h3><p style="font-size:20px;color:#a1a1a1;font-family:algerian">In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
</div>
<div class="col-sm-4"style="height:300px;text-align:center"><img src="~/Content/img/roomm.jpg" style="height:100px;width:100px;align:center"/><h3 style="font-size:30px;color:#204e6a;font-family:algerian">Canteen</h3><p style="font-size:20px;color:#a1a1a1;font-family:algerian">In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
</div>
</div><br><br>
<div  class="row">
     
<div class="col-md-3 hvr hvr-buzz"><img src="~/Content/img/room.jpg" style="height:350px;width:100%;background-size:cover;border-radius:40%;border:2px dotted red"/></div>
<div class="col-md-3 hvr hvr-pulse" ><img src="~/Content/img/roomm.jpg" style="height:350px;width:100%;background-size:cover;border-radius:40%;border:2px dashed gold"/></div>
<div class="col-md-3 hvr hvr-pop"><img src="~/Content/img/111.jpg" style="height:350px;width:100%;background-size:cover;border-radius:40%;border:2px ridge pink"/></div>
<div class="col-md-3 hvr hvr-float"><img src="~/Content/img/room.jpg" style="height:350px;width:100%;background-size:cover;border-radius:40%;border:2px double teal"/></div> 
</div><br />
<div  class="row"> 
<div class="col-sm-3 hvr hvr-buzz"><video src="~/Content/vdo/as.mp4" controls type="video/mp4" style="height:350px;width:100%;border:2px dotted red;border-radius:30px 10px 30px 10px"/></div>
<div class="col-sm-3 hvr hvr-pop"><video src="~/Content/vdo/as.mp4" controls type="video/mp4" style="height:350px;width:100%;border:2px dotted red;border-radius:30px 10px 30px 10px"/></div>
<div class="col-sm-3 hvr hvr-pulse"><video src="~/Content/vdo/as.mp4" controls type="video/mp4" style="height:350px;width:100%;border:2px dotted red;border-radius:30px 10px 30px 10px"/></div>
<div class="col-sm-3 hvr hvr-push"><video src="~/Content/vdo/as.mp4" controls type="video/mp4" style="height:350px;width:100%;border:2px dotted red;border-radius:30px 10px 30px 10px"/></div> 


</div>
<br><br> 
<div class="row">
<div class="col-sm-6" style="height:300px">
   <center><h3 style="font-size:55px;font-family:algerian;color:#204e6a;">Our View<h3><p style="font-size:20px;color:#a1a1a1;">travel and tourism is the largest service of india. it provides heritage, cultural, medical, business, and sports tourism. the main objective of this sector is to develop and promote tourism,
        maintain competiveness of india as a tourist destination and improve and expand existing tourism products to ensure employment generation and economic growth.in this section, we provide information about various tourist destination, modes of travel,accomdation and approved travel agents.</p></center>
</div>
<div class="col-sm-1">
</div>    
<div class="col-sm-5" style="height:300px;" class="bg-image hover-zoom" id="box">
    <img src="~/Content/img/s4.jpg" style="height:300px;width:100%" class="hvr hvr-pule w-100"/>
</div>
</div><br />
<div class="row">
<div class="col-sm-12" style="height:350px;">
<div style="background:white;height:80px;width:100%;"><center><h3 style="font-size:55px;font-family:algerian;color:#204e6a;">Locate Us<h3></center></div>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d56963.179403887974!2d80.9151209321658!3d26.83363131751095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s5+star+hotels+in+lucknow!5e0!3m2!1sen!2sin!4v1564072344142!5m2!1sen!2sin" 
    style="width:100%;height:250px" ></iframe>
</div>
</div><br />
<!--footer start-->

    </body>